.inner
  %h1.account_name= current_user&.account_name
  = link_to root_path, class: 'to_timeline' do
    %i.fas.fa-arrow-left
    %i.fas.fa-stream
  = link_to 'LOG OUT', destroy_user_session_path, data: {method: 'delete'}, class: 'logout_btn'
  = link_to edit_profile_path, class: 'profile_image' do
    = image_tag current_user&.icon_image, class: 'profile_icon'
  .profile_infos
    .profile_info.post
      = current_user.posts.count
      %h2 Posts
    = link_to account_followers_path(current_user), class: 'profile_info follower' do
      = current_user.follower_relationships.count
      %h2 Followers
    = link_to account_followings_path(current_user), class: 'profile_info following' do
      = current_user.following_relationships.count
      %h2 Following
  .photos_sec
    - current_user.posts.each do |post|
      = link_to post_path(post) do
        = image_tag post.photos.first
  .under
