.inner
  %h1.account_name= current_user.account_name
  = link_to root_path, class: 'to_timeline' do
    %i.fas.fa-arrow-left
    %i.fas.fa-stream
  = link_to edit_profile_path, class: 'profile_image' do
    = image_tag current_user.icon_image, class: 'profile_icon'
  .profile_infos
    .profile_info.post
      %span 44
      %h2 Posts
    .profile_info.follower
      %span 110
      %h2 Followers
    .profile_info.following
      %span 44
      %h2 Following
  .photos_sec
    .photos.photos1
      .big
        = image_tag 'photo1'
      .small
        = image_tag 'photo2'
        = image_tag 'photo3'
    .photos.photos2
      .small
        = image_tag 'photo4'
        = image_tag 'photo5'
      .big
        = image_tag 'photo6'
  .under
  = javascript_pack_tag 'profile'
