.profile_infos
  .profile_info.post
    = user.posts.count
    %h2 Posts
  = link_to account_followers_path(user), class: 'profile_info follower' do
    = user.follower_relationships.count
    %h2 Followers
  = link_to account_followings_path(user), class: 'profile_info following' do
    = user.following_relationships.count
    %h2 Following
.photos_sec
  - user.posts.each do |post|
    = image_tag post.photos.first
.under
