.profile_infos
  .profile_info.post
    = user.posts.count
    %h2 Posts
  = link_to account_followers_path(user), class: 'profile_info follower' do
    = user.follower_relationships.count
    %h2 Followers
  = link_to account_followings_path(user), class: 'profile_info following' do
    = user.following_relationships.count
    %h2 Following
.photos_sec
  .photos.photos1
    .big
      = image_tag 'photo1'
    .small
      = image_tag 'photo2'
      = image_tag 'photo3'
  .photos.photos2
    .small
      = image_tag 'photo4'
      = image_tag 'photo5'
    .big
      = image_tag 'photo6'
.under
