<div class="inner">

  <% @post.errors.full_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
  <% end %>

  <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>

    <div class="form_header">
      <%= link_to 'Cancel', root_path, class: 'post_cancel' %>
      <h1>Status</h1>
      <div class="actions">
        <%= f.submit :Post, class: 'post_btn' %>
      </div>
    </div>

    <div class="user_ui">
      <%= image_tag current_user.icon_image %>
      <p><%= current_user.account_name %></p>
    </div>

    <div class="field">
      <%= f.text_field :content, class: 'post_content', placeholder: 'What\'s on your mind?'  %>
    </div>

    <div class="field">
      <%= f.file_field :photos, class: 'post_photos' %>
    </div>

  <% end %>

</div>
