.inner
  - @post.errors.full_messages.each do |message|
    %p.error_message= message
  = form_with model: @post, url: posts_path, method: :post, local: true do |f|
    .form_header
      = link_to 'Cancel', root_path, class: 'post_cancel'
      %h1 Status
      .actions
        = f.submit :Post, class: 'post_btn'
    .user_ui
      = image_tag current_user.icon_image
      %p= current_user.account_name
    .field
      = f.text_field :content, class: 'post_content', placeholder: 'What\'s on your mind?'
    .field
      = f.file_field :photos, class: 'post_photos'
