.inner
  .post#post-show{data: {post_id: @post.id}}
    .timeline_body
      .timeline_post
        .back_to_timeline
          = link_to root_path do
            %i.fas.fa-arrow-left
            %i.fas.fa-stream
        = link_to profile_path, class: 'timeline_post_top' do
          .timeline_post_top_icon
            = image_tag current_user.icon_image
          .timeline_post_top_name
            .post_author
              = current_user.account_name
            .post_created
              = @post.created_at
        .timeline_post_images
          - @post.photos.each do |photo|
            = image_tag photo
        .share
          = image_tag 'heart', class: 'hidden active-heart'
          = image_tag 'unheart', class: 'hidden inactive-heart'
          = link_to post_comments_path(@post.id) do
            %i.far.fa-comment
          = link_to 'https://twitter.com/share?ref_src=twsrc%5Etfw', target: '_blank' do
            %i.fas.fa-share-alt
        .timeline_post_likes
          %p.post_likes= @post.likes.count
          %p liked your post
        .timeline_post_content
          %p.post_name= current_user.account_name
          %p.post_content= @post.content

= javascript_pack_tag 'post'
