.inner
  .timeline_header
    = link_to new_post_path do
      %i.fas.fa-camera
    = link_to profile_path do
      %i.fas.fa-arrow-right
  
  .timeline_body
    - @posts.each do |post|
      .timeline_post
        = link_to profile_path, class: 'timeline_post_top' do
          .timeline_post_top_icon
            = image_tag current_user.icon_image
          .timeline_post_top_name
            .post_author
              = current_user.account_name
            .post_created
              = post.created_at
        = link_to post_path(post.id), class: 'timeline_post_images' do
          - post.photos.each do |photo|
            = image_tag photo
        .share
          - if current_user.has_liked?(post)
            = link_to post_like_path(post), data: { method: 'delete' } do
              = image_tag 'heart'
          - else
            = link_to post_like_path(post), data: { method: 'post' } do
              = image_tag 'unheart'
          = link_to root_path do
            %i.far.fa-comment
          = link_to 'https://twitter.com/share?ref_src=twsrc%5Etfw', target: '_blank' do
            %i.fas.fa-share-alt
        .timeline_post_content
          %p.post_name
            = current_user.account_name
          = post.content
