!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title InstagramApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.8.2/css/all.css?ver=5.8.2", :rel => "stylesheet"}/
  %body
    - if notice.present?
      %p.notice= notice
    - if alert.present?
      %p.alert= alert
    %header
      .inner
        - if current_page?(new_user_session_path)
          .header_left 9:41
          .header_right
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
        - elsif current_page?(new_user_password_path)
          .header_left 9:41
          .header_right
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
        - elsif current_page?(edit_user_password_path)
          .header_left 9:41
          .header_right
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
        - elsif current_page?(cancel_user_registration_path)
          .header_left 9:41
          .header_right
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
        - elsif current_page?(new_user_registration_path)
          .header_left 9:41
          .header_right
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
        - elsif current_page?(edit_user_registration_path)
          .header_left 9:41
          .header_right
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
        - else
          .header_left.header_left_black 9:41
          .header_right.header_right_black
            %i.fas.fa-signal
            %i.fas.fa-wifi
            %i.fas.fa-battery-full
    = yield
