.inner#account-show{data: {account_id: @user.id}}
  %h1.account_name= @user.account_name
  = link_to root_path, class: 'to_timeline' do
    %i.fas.fa-arrow-left
    %i.fas.fa-stream
  .profile_image.account_image
    = image_tag @user.icon_image, class: 'profile_icon'
    .follow-btn.hidden Follow
    .unfollow-btn.hidden Unfollow
  .profile_infos
    .profile_info.post
      = @user.posts.count
      %h2 Posts
    = link_to account_followers_path(@user), class: 'profile_info follower' do
      = @user.follower_relationships.count
      %h2 Followers
    = link_to account_followings_path(@user), class: 'profile_info following' do
      = @user.following_relationships.count
      %h2 Following
  .photos_sec
    - @user.posts.each do |post|
      = link_to post_path(post) do
        = image_tag post.photos.first
  .under
= javascript_pack_tag 'profile'
